a {
    color: #e0c52a;
}


.toggle-menu{
    color: #e0c52a;
}

.post-table-img{
    max-width: 200px;
    max-height: 200px;
}

.post-card-badge{
    float: right;
}
.post-header-img{
    max-width: 100%;
    max-width: 100%;
}
