a {
    color: #e0c52a;
}

body {
    background-color: white;
}

.dashboard-posts-border{
    border-bottom: solid 10px #1dd85b ;
}

.dashboard-categories-border{
    border-bottom: solid 10px #fde721 ;
}

.dashboard-admins-border{
    border-bottom: solid 10px #ca3030 ;
}

.dashboard-comments-border{
    border-bottom: solid 10px #1dd8af ;
}


.toggle-menu{
    color: #e0c52a;
}


.post-table-img{
    width: 200px;
    height: 80px;
}

.post-card-badge{
    float: right;
}
.actual-image{
    max-width: 100%;
}

.image-list-limit{
    width: 100px;
    height: 100px;
}
.post-header-img{
    max-width: 100%;
    max-height: 300px;
}

.about-us-img{
    width: 200px;
    height: 200px;
    border: solid #1dd85b 6px;
    border-radius: 100%;
}

.push-footer{
    margin-bottom:400px;
}
