a {
    color: #e0c52a;
}


.toggle-menu{
    color: #e0c52a;
}

.post-table-img{
    width: 200px;
    height: 80px;
}

.post-card-badge{
    float: right;
}
.post-header-img{
    max-width: 100%;
    max-height: 300px;
}

.push-footer{
    margin-bottom:200px;
}
